<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Gas Unión Administrador</title>

    <!-- Fontfaces CSS-->
    <link href="/css/font-face.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
    <link href="/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="/administracion"> 
                            <img src="/images/icon/Logo1.png" alt="GasUnion" style="height: 50px;" />
                            
                        </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li class="has-sub">
                                <a href="/administracion">
                                    <i class="fas fa-home"></i>Inicio
                                    <span class="bot-line"></span>
                                </a>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-user"></i>
                                    <span class="bot-line"></span>Usuarios</a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="/usersControlAdmin">Gestión de Usuarios</a>
                                    </li>
                                    <li>
                                        <a href="/addUser">Agregar Usuario</a>
                                    </li>
                                </ul>
                            </li>
                            
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-users"></i>
                                    <span class="bot-line"></span>Clientes</a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="/clientesSuministroAdmin">Clientes Suministro</a>
                                    </li>
                                    <li>
                                        <a href="/clientesAdministracionAdmin">Clientes Administración</a>
                                    </li>
                                    <li>
                                        <a href="/createClientSuministro">Registrar Cliente Suministro</a>
                                    </li>
                                    <li>
                                        <a href="/createClientAdministracion">Registrar Cliente Administración</a>
                                    </li>
                                </ul>
                                
                            </li>
                           
                            
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-inbox"></i>
                                    <span class="bot-line"></span>Bloques</a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="#">Ver Bloques</a>
                                    </li>
                                    <li>
                                        <a href="#">Agregar Bloque</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fas fa-usd"></i>
                                    <span class="bot-line"></span>Precio Gas</a>
                            </li>

                        </ul>
                    </div>
                    <div class="header__tool">
                        
                        
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                    <a href="#">
                                        <img src="/images/icon/usuario.png" alt="John Doe" />
                                    </a>
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#"><%= datos.nombre %></a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="images/icon/usuario.png" alt="John Doe" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#"><%= datos.nombre %></a>
                                            </h5>
                                            <span class="email"><%= datos.rol %></span>
                                        </div>
                                    </div>
                                    
                                    <div class="account-dropdown__footer">
                                        <a href="/logout">
                                            <i class="zmdi zmdi-power"></i>Cerrar Sesión</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- HEADER MOBILE-->
        <header class="header-mobile header-mobile-2 d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/administracion">
                            <img src="/images/icon/Logo1.png" alt="GasUnion" style="height: 50px;" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="/administracion">
                                <i class="fas fa-home"></i>Inicio</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-user"></i>Usuarios</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/usersControlAdmin">Gestión de Usuarios</a>
                                </li>
                                <li>
                                    <a href="/addUser">Agregar Usuario</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-users"></i>Clientes</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/clientesSuministroAdmin">Clientes Suministro</a>
                                </li>
                                <li>
                                    <a href="/clientesAdministracionAdmin">Clientes Administración</a>
                                </li>
                                <li>
                                    <a href="/createClientSuministros">Registrar Cliente Suministro</a>
                                </li>
                                <li>
                                    <a href="/createClientAdministracion">Registrar Cliente Administración</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-inbox"></i>Bloques</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Gestión Bloques</a>
                                </li>
                                <li>
                                    <a href="register.html">Agregar bloques</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-usd"></i>Precio Gas</a>
                        </li>
                        
                    </ul>
                </div>
            </nav>
        </header>
        <div class="sub-header-mobile-2 d-block d-lg-none">
            <div class="header__tool">
                
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img src="/images/icon/usuario.png" alt="John Doe" />
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#"><%= datos.nombre %></a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img src="images/icon/usuario.png" alt="John Doe" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#"><%= datos.nombre %></a>
                                    </h5>
                                    <span class="email"><%= datos.rol %></span>
                                </div>
                            </div>
                            
                            <div class="account-dropdown__footer">
                                <a href="/logout">
                                    <i class="zmdi zmdi-power"></i>Cerrar Sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HEADER MOBILE -->

        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7" style="padding-top: 10px;">

            

            <div class="container mt-5">
                <% if (client) { %>
                <form action="/saveClientSuministro" method="POST">
                    <!-- Datos Personales -->
                    <div class="card">
                        <h5 class="card-header text title-2" style="background-color:cornflowerblue">Datos de Cliente</h3>
                        <div class="card-body">
                            <div class="row mb-3">
                                
                                    <div class="col-md-3">
                                        <label for="noCliente" class="control-label mb-1">Número de Cliente</label>
                                        <input type="text" class="form-control" id="noCliente" name="noCliente" value="<%= client.consec  %>" readonly>
                                    </div>
                                <div class="col-md-3">
                                    <label for="usuarioReg" class="control-label mb-1">Usuario que registro</label>
                                    <input type="text" class="form-control" id="usuarioReg" name="usuarioReg" value="<%= datos.nombre %>" readonly>
                                </div>
                                <div class="col-md-3">
                                    
                                </div>
                                <div class="col-md-3">
                                    <label for="status" class=" form-control-label">Estatus Cliente</label>
                                    <select name="status" id="status" class="form-control">
                                            <option>ACTIVO</option>
                                            <option>DESACTIVADO</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="nombre" class="control-label mb-1">Nombre Completo</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre">
                                </div>
                                <div class="col-md-6">
                                    <label for="razonSocial" class="control-label mb-1">Razón Social</label>
                                    <input type="text" class="form-control" id="razonSocial" name="razonSocial">
                                </div>
                                <div class="col-md-12">
                                    <label for="observaciones" class="control-label mb-1">Observaciones</label>
                                    <input type="text" class="form-control" id="observaciones" name="observaciones">
                                </div>
                                <div class="col-md-3">
                                    <label for="telefono" class="control-label mb-1">Teléfono Celular</label>
                                    <input type="text" class="form-control" id="telefono" name="telefono">
                                </div>
                                <div class="col-md-3">
                                    <label for="telFijo" class="control-label mb-1">Telefono Fijo</label>
                                    <input type="text" class="form-control" id="telFijo" name="telFijo">
                                </div>
                                <div class="col-md-3">
                                    <label for="correo" class="control-label mb-1">Correo</label>
                                    <input type="email" class="form-control" id="correo" name="correo">
                                </div>
                                <div class="col-md-3">
                                    <label for="correo2" class="control-label mb-1">Correo Alternativo</label>
                                    <input type="email" class="form-control" id="correo2" name="correo2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Datos de Dirección -->
                    <div class="card">
                        <h5 class="card-header text title-2" style="background-color:cornflowerblue">Datos de Direccón</h3>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-md-8">
                                    <label for="calle" class="control-label mb-1">Calle</label>
                                    <input type="text" class="form-control" id="calle" name="calle">
                                </div>
                                <div class="col-md-2">
                                    <label for="noExterior" class="control-label mb-1">Número Exterior</label>
                                    <input type="text" class="form-control" id="noExterior" name="noExterior">
                                </div>
                                <div class="col-md-2">
                                    <label for="noInterior" class="control-label mb-1">Número Interior</label>
                                    <input type="text" class="form-control" id="noInterior" name="noInterior">
                                </div>
                                <div class="col-md-3">
                                    <label for="cp" class="control-label mb-1">Código Postal</label>
                                    <input type="text" class="form-control" id="cp" name="cp">
                                </div>
                                <div class="col-md-3">
                                    <label for="colonia" class="control-label mb-1">Colonia</label>
                                    <input type="text" class="form-control" id="colonia" name="colonia">
                                </div>
                                <div class="col-md-3">
                                    <label for="municipio" class="control-label mb-1">Municipio/Alcaldía</label>
                                    <input type="text" class="form-control" id="municipio" name="municipio">
                                </div>
                                <div class="col-md-3">
                                    <label for="estado" class="control-label mb-1">Estado</label>
                                    <input type="text" class="form-control" id="estado" name="estado">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <h5 class="card-header text title-2" style="background-color:cornflowerblue">Datos de Suministro</h3>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <label for="frecCarga" class=" form-control-label">Frecuencia de carga</label>
                                    <select name="frecCarga" id="frecCarga" class="form-control">
                                            <option>SEMANAL</option>   
                                            <option>QUINCENAL</option>            
                                            <option>MENSUAL</option>
                                            <option>NO RECURRENTE</option>
                                            <option>OTRO</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="diaCarga" class="control-label mb-1">Día preferente de carga</label>
                                    <input type="text" class="form-control" id="diaCarga" name="diaCarga">
                                </div>
                                <div class="col-md-3">
                                    <label for="tipoPago" class=" form-control-label">Tipo de pago</label>
                                    <select name="tipoPago" id="tipoPago" class="form-control">
                                            <option>EFECTIVO - CONTADO</option>   
                                            <option>TARJETA - CONTADO</option>
                                            <option>TRANSFERENCIA - CONTADO</option>
                                            <option>EFECTIVO - CREDITO</option>   
                                            <option>TARJETA - CREDITO</option>
                                            <option>TRANSFERENCIA - CREDITO</option>
                                            <option>ADMINISTRACIÓN</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="tipoCliente" class=" form-control-label">Tipo Cliente</label>
                                    <select name="tipoCliente" id="tipoCliente" class="form-control">
                                        <option>CASA - HOGAR</option>   
                                        <option>NEGOCIO - COMERCIO</option>
                                        <option>RESTAURANTE</option>
                                        <option>EDIFICIO SUMINISTRO</option> 
                                    </select>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    <!-- Botón de Enviar -->
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-outline-success btn-lg mx-2" >Agregar Cliente</button>
                        <a href="/clientesSuministroAdmin" class="btn btn-outline-danger btn-lg mx-2" >Cancelar</a>
                        
                    </div>
                </form>
                <% } %>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/vendor/slick/slick.min.js">
    </script>
    <script src="/vendor/wow/wow.min.js"></script>
    <script src="/vendor/animsition/animsition.min.js"></script>
    <script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/vendor/select2/select2.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.js"></script>

    <!-- Main JS-->
    <script src="/js/main.js"></script>

    <!-- Main JS-->
    
    
</body>

</html>
<!-- end document-->
